[Desktop Entry]
Name=NUchat
Comment=Open-source IRC client
Exec=nuchat
Icon=nuchat
Terminal=false
Type=Application
Categories=Network;Chat;IRCClient;
Keywords=irc;chat;messaging;
StartupWMClass=nuchat
